.menu .button,
.menu a {
  padding: 0.7rem 4rem;
}
.menu, .menu a {
  font-style: Tourney;
  font-weight: bold;
  font-size: 1em;
}
.menu a,
.menu button,
.menu input,
.menu select {
  margin-bottom: 1px;
  font-style: Tourney;
  font-weight: bold;
  font-size: 1em;
}
label {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 2.875rem;
}
#hero-input {
  font-family:Georgia, 'Times New Roman', Times, serif ;
  color: black;
}
body {
  background-image: url(https://mobileimages.lowes.com/productimages/457cc84f-275c-4e46-97fd-d43b9b717a9d/15634766.jpg);
  justify-content: center;
  background-repeat: no-repeat;
  opacity: .95;
  max-width: 100%;
}
.home-button {
  font-size: 1.2em;
  font-family: Tourney;
  font-weight: bold;
}
.main-page {
  /* background-image: url(https://mobileimages.lowes.com/productimages/457cc84f-275c-4e46-97fd-d43b9b717a9d/15634766.jpg); */
  background-color: grey;
}
.heartedContainer {
  margin: 4%;
  background-color: #8000ff40;
  border: 3px solid rgb(116, 27, 204);
  border-radius: 2%;
}
.main-header {
  background-color: grey;
}
/* .btn {
  margin-bottom: 1px;
  padding: 0.7rem 4rem;
} */
.popular-header {
  font-size: 3em;
  font-weight: bold;
  font-family: Tourney;
}
.button-expanded {
  margin: 3%;
  border-radius: 8%;
  width: 92%;
}
.card {
  margin-left: 10%;
  margin-right: 10%;
}
.accordion-title {
  position: relative;
  display: block;
  padding: 1.25rem 1rem;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  font-size: .75rem;
  line-height: 1;
  color: #1779ba;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Yomogi';
  font-weight: bold;
}

#popular-hero0 {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yomogi';
  font-weight: bold;
}
#popular-hero1 {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yomogi';
  font-weight: bold;
}
#popular-hero2 {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yomogi';
  font-weight: bold;
}
#popular-hero3 {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yomogi';
  font-weight: bold;
}

#popular-real0 {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yomogi';
  font-weight: bold;
}
#popular-real1 {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yomogi';
  font-weight: bold;
}
#popular-real2 {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yomogi';
  font-weight: bold;
}
#popular-real3 {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Yomogi';
  font-weight: bold;
}

#herocard {
  background-color: rgb(145, 135, 135);
}
#heroname {
  font-size: 2.5em;
  font-weight: bold;
  font-family: Tourney;

  background-color: rgb(104, 97, 97);
}
#realName {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Tourney;
}

#saved-hero {
  background-color:rgb(201, 73, 201);
  display:inline-block;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 2em;
  font-family: 'Comic Sans MS';
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
}

#searched-hero {
  background-color:rgb(201, 73, 201);
  display:inline-block;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 2em;
  font-family: 'Comic Sans MS';
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:#FFFFFF;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
}

#saved-hero:active{
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

#searched-hero:active{
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

h1 {
  font-weight: bold;
  font-size: 4em;
  font-family: "Tourney";
}
h2 {
  text-align: center;
}

p {
  font-family: Yomogi;
  font-weight: bold;
  text-align: center;
}
.callout.secondary {
  background-color: #c1bfbf;
  color: #0a0a0a;
}
